name: Publish mcp Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "New version tag (e.g., 1.0.0)"
        required: true
      next:
        description: "Next prerelease number (optional)"
        required: false

jobs:
  publish:
    uses: ./.github/workflows/_publish-package.yml
    with:
      npm_package_name: "@youdotcom-oss/mcp"
      oss_repo: "youdotcom-oss/mcp-server"
      version: ${{ github.event.inputs.version }}
      next: ${{ github.event.inputs.next }}
    secrets:
      RELEASE_ADMIN_TOKEN: ${{ secrets.RELEASE_ADMIN_TOKEN }}
      YDC_OSS_PUBLISH_TOKEN: ${{ secrets.YDC_OSS_PUBLISH_TOKEN }}
      NPM_TOKEN: ${{ secrets.MCP_NPM_TOKEN }}
